
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servo Control</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    
        socket.on('connect', () => {
            console.log('Connected to server');
        });
    
        function startServo() {
            console.log('Emitting start event');
            socket.emit('start');
        }
    
        function stopServo() {
            console.log('Emitting stop event');
            socket.emit('stop');
        }
    </script>
</head>
<body>
    <div class="botones">
        <button id="startButton" onclick="startServo()">Start</button>
        <button id="stopButton" onclick="stopServo()">Stop</button>
        
    </div>
    
</body>
</html>
