<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/control.css">
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <%- include('menulateral2') %>
        <div class="main-content">
        <div class="contenido">
            <h1>Bienvenidos</h1>
            <img class="image" src="http://192.168.4.91:8080/stream.mjpg"/>
        </div>
        
          <%- include('botones') %>
        </div>
    </div>
    <%- include('footer') %>

    
</body>
</html>