<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <%- include('header') %>
  <div class="container">
    <h1>Bienvenido</h1>
    <p>Esta es la página principal</p>
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
    <a href="/register" class="btn btn-secondary">Registrarse</a>
  </div>
  <%- include('footer') %>
</body>
</html>
