<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/menu2.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="menu-title">Panel de Control</h2>
            <ul>
              <li><a href="/perfil">Perfil</a></li>
              <li><a href="/temperaturas">Temperaturas</a></li>
              <li><a href="/stream">Stream</a></li>
              <li><a href="/control">Robot</a></li>
              <li><a href="/conversor">Conversor</a></li>
            </ul>
          </div>
          
        
      </div>
      <script src="js/menu2"></script>
</body>
</html>