<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <%- include('menulateral2') %>
        <div class="main-content">
          <h1>Temperaturas</h1>
        <%- include('temhum', { nuevaTemperatura }) %>
        
        </div>
    </div>
    <%- include('footer') %>
    <script src="js/menu2.js"></script>

</body>
</html>