<link rel="stylesheet" href="css/menulateral.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


<div id="hamburger-container">
  <button id="hamburger-btn" class="hamburger-btn">
    <i class="fas fa-bars"></i>
  </button>
</div>
<nav id="side-menu" class="side-menu">
  <button id="close-btn" class="close-btn">&times;</button>
  <a href="/">Inicio</a>
  <a href="/temp">Temperaturas</a>
  <a href="/stream">Stream</a>
  <a href="/streamcontrol">Control Robot</a>
</nav>

<script src="js/menulateral.js"></script>