<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/menu2.css">
    <link rel="stylesheet" href="css/stream.css">
</head>
<body>
    <%- include('header') %>

    <div class="wrapper">
      <%- include('menulateral') %>
      <main id="main-content" class="main-content">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur tenetur expedita sed deserunt dicta itaque! Similique, incidunt? Doloremque dolorum eaque facere nobis laboriosam, reiciendis, asperiores molestias quas sapiente eveniet quam beatae quisquam doloribus officia ipsum dolorem iusto sit nesciunt nam. Recusandae enim sequi voluptate sapiente, nisi id, accusantium sed, aut beatae deleniti quaerat? Voluptates sint dolores magni. Eligendi reiciendis cupiditate doloribus suscipit quae animi repellendus quod necessitatibus illo. Quod, veniam sint quibusdam magni laboriosam enim corrupti itaque commodi? Laboriosam blanditiis a placeat quasi repellat nihil deleniti illum qui quos ipsam adipisci, ut vel doloribus? Nulla molestiae facilis dolorem porro saepe optio rerum blanditiis? Sequi consequuntur, voluptate, quibusdam iste quod tenetur odit suscipit necessitatibus fugiat dolorum optio sed enim? Error assumenda velit culpa tempore sunt debitis tenetur nisi eos. Quas, modi doloribus a obcaecati iusto nisi voluptatum deleniti maxime laborum quaerat nemo odio velit tempora enim tempore, tenetur consequatur. Laboriosam fuga praesentium dolore nam earum tenetur illum neque. Velit cum aperiam ut facilis sint voluptate suscipit at nemo commodi! Commodi ullam quo quam rerum, maxime nostrum, dolor repudiandae vitae excepturi sequi, qui voluptates velit odio corporis dolores molestias porro tempore nobis atque laboriosam. Laborum omnis expedita deleniti ullam commodi voluptates cupiditate explicabo soluta! Incidunt ducimus laborum asperiores excepturi aliquid dolorem velit cupiditate pariatur voluptatem quisquam quod modi animi earum totam veritatis voluptates atque maiores, autem non quibusdam repellat. Similique pariatur odio aperiam cumque voluptatum tempore, illum, ducimus aliquam nisi, odit asperiores quaerat temporibus ut animi ipsum quos sunt. Aut voluptates labore, minima a porro harum optio quisquam neque ex aliquid ipsa amet accusantium similique nobis quia cum consectetur praesentium iusto nemo magni dolores nam eius odit repudiandae? Quasi ab corrupti assumenda, voluptates officiis beatae pariatur fuga cum voluptate impedit necessitatibus tempore dolorem veritatis doloribus fugiat! Ab ex porro corporis illo ea? Impedit incidunt animi excepturi rerum quo ut vel modi sequi similique, ratione tempore facilis consectetur reprehenderit voluptatum soluta aspernatur libero id aliquam laboriosam maxime. Aliquam at, veniam enim repellendus neque dolorum explicabo aliquid fuga fugiat. Officia temporibus molestias facilis, culpa illum, enim corrupti quis, repudiandae repellendus mollitia fugiat nihil placeat! Mollitia nisi nihil repellendus odit iusto, beatae voluptates amet nemo praesentium, deserunt ipsa eaque non corrupti. Possimus tempore tempora dolorum sapiente. Tempora praesentium totam deserunt quasi porro ut. Asperiores omnis vel ducimus id dolor voluptate nobis rerum assumenda adipisci laudantium? Vel et quasi placeat perspiciatis voluptates deserunt asperiores perferendis quam, sapiente dicta excepturi aliquam, obcaecati nobis laboriosam? Blanditiis consectetur consequatur modi fuga doloribus, fugiat, tempora in repellat harum nulla voluptas veritatis, iusto voluptatibus minus? Culpa explicabo reprehenderit aliquam quisquam voluptates, ab ex quaerat vel consequuntur blanditiis ut! A incidunt similique magnam cumque totam fugiat iure voluptates praesentium commodi maiores libero, necessitatibus omnis deserunt deleniti in et provident, molestias unde harum corrupti aut. Consequatur nemo a praesentium, veritatis perferendis cumque atque saepe ad mollitia voluptate dolorem cum fugit sunt quidem cupiditate fuga, dicta id. Nesciunt deserunt voluptatibus amet repellat, ipsa voluptatum expedita voluptate odit animi eaque. Officiis excepturi ab dolorem exercitationem similique, voluptas quam tenetur, itaque fugit optio eligendi, hic cum? Illum minima hic consectetur molestiae asperiores sunt laboriosam iusto quidem dolor harum et voluptatem ex quod maxime ab labore sed, eveniet esse magni quas ea eum! Laborum iste, minima ipsam aspernatur quibusdam sint commodi quisquam repellendus rem iusto distinctio. Autem sit sequi iure quidem incidunt? Repellat aperiam exercitationem corrupti nisi alias doloribus dolores. Eos obcaecati nihil libero laboriosam rem error rerum totam maiores laudantium tempora expedita quisquam dolorem dolores a impedit quibusdam, esse praesentium corrupti voluptas aspernatur ipsam! Unde, obcaecati? Odit voluptatibus blanditiis odio excepturi. Eveniet, dolore odit. Tenetur, molestias!
        </p>
      </main>
    
     
    </div>
    
    <%- include('footer') %>
    
</body>
</html>