footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: all 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0099ff;
  }
  